*.iml

.gradle

/local.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store

/build

/captures

.externalNativeBuild

.cxx

local.properties

**/build/

*.apk
*.aab
*.ap_
*.dex

*.jks
*.keystore

.env
.env.*
!.env.example

google-services.json

*.log

Thumbs.db

.kotlin/
app/src/test
